# Ignore /data directory so we can store artifacts/outputs/logs there.
/data

*.pyc
*.db
.ipynb_checkpoints
/t
__pycache__
/_output
*.env
*.DS_Store
*.egg-info
*.egg
*.log
*.png
.pypirc

.idea/
.coverage/
htmlcov/
coverage.xml
.coverage
